<mat-card class="input-and-button">
    <mat-form-field appearance="outline">
      <mat-label>Date début</mat-label>
      <form [formGroup]="startDateLearnForm">
        <input matInput
               [matDatepicker]="picker"
               [formControlName]="'firstDateLearn'">
      </form>
      <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      @if (startDateLearnForm.controls.firstDateLearn.hasError('required')) {
        <mat-error>Date début est requis</mat-error>
      }
    </mat-form-field>


    <button [disabled]="(statusComputeButton | async)"
            mat-raised-button
            (click)="returnDateCompute(startDateLearnForm.controls.firstDateLearn.value)">
      Calcule
    </button>
</mat-card>

<div class="date-picker">
      <mat-calendar [(selected)]="selected"/>
</div>



