@if (tileTypes) {
  <ng-container *ngTemplateOutlet="tileTypes === TileTypeEnum.tileSimple ? tileSimple : tileForms"></ng-container>
  <ng-template #tileSimple>
    <mat-grid-list class="mat-elevation-z1" [cols]="grid().grid.cols" [rowHeight]="grid().grid.rowHeight + 'px'"
                   [gutterSize]="grid().grid.gutterSize + 'px'">
      @for (tile of grid().tile; track tile) {
        <mat-grid-tile
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.border-radius.px]="tile.border_radius"
          [style.background]="tile.color">{{ tile.text }}
        </mat-grid-tile>
      }
    </mat-grid-list>
  </ng-template>
  <ng-template #tileForms>
    <!--    <div class="flex-container" >-->
    <mat-grid-list [cols]="grid().grid.cols" [rowHeight]="grid().grid.rowHeight + 'px'"
                   [gutterSize]="grid().grid.gutterSize + 'px'">
      @for (tile of grid().tile; track tile) {
        <mat-grid-tile
          [style.flex]="tile.cols + ' ' + tile.rows"
          [style.border-radius.px]="tile.border_radius"
          [style.border]="tile.border_color"
          [style.background]="tile.color">

          @if (tile.context) {
            <ng-container *ngTemplateOutlet="tile.context; context: { data: tile.data }"></ng-container>
          }
        </mat-grid-tile>
      }
    </mat-grid-list>
  </ng-template>
  <ng-template #tileForms>
    <!--    <div class="flex-container" >-->
    <mat-grid-list [cols]="grid().grid.cols" [rowHeight]="grid().grid.rowHeight + 'px'"
                   [gutterSize]="grid().grid.gutterSize + 'px'">
      @for (tile of grid().tile; track tile) {
        <mat-grid-tile
          [style.flex]="tile.cols + ' ' + tile.rows"
          [style.border-radius.px]="tile.border_radius"
          [style.border]="tile.border_color"
          [style.background]="tile.color">

          @if (tile.context) {
            <ng-container *ngTemplateOutlet="tile.context; context: { data: tile.data }"></ng-container>
          }
        </mat-grid-tile>
      }
    </mat-grid-list>
  </ng-template>
}

