:host {

  .mat-grid-tile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
  }

  mat-grid-tile {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    justify-items: center;
    border-radius: 20px;
    border: 2px solid #ffffff;
  }

}
