<div class="container">

  <section class="item filter-table ">
    <lib-filter-table
      [appearance]="appearance"
      [name]="name"
      [placeholder]="placeholder"
      [label]="label"
      (textfilter)="filterText($event)"
    >
      <mat-slide-toggle
        [(ngModel)]="checkbox"
                        #toggle
                        (click)="toggleStatus(checkbox)"
                        matSuffix ></mat-slide-toggle>

    </lib-filter-table>
  </section>

  <section class="item table">
    <app-table-dynamic
      [list]="listTable"
      [displayedColumns]="listColumns"
    ></app-table-dynamic>
  </section>
</div>
