 :host {
   .container {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     overflow-y: scroll;
     width: 100%;
     cursor: grab;

     .chart {
       width: calc(50% - 50px) /* Ajustez cette valeur selon vos besoins */
     }
   }
 }
