<div class="container">
  <div class="item">
    <mat-form-field [appearance]="'outline'">
      <mat-label>{{ label() }}</mat-label>
      <input id="inputMessage" [type]="'text'" [(ngModel)]="todoCurrent.value.message" matInput [placeholder]="placeholder()" #value>
    </mat-form-field>
    <ng-container id="zone-button">
      @if (modeEdition()) {
        <button id="edit" mat-button (click)="edit$.next(value.value)">Modifier</button>
      } @else {
        <button id="save" mat-button (click)="add$.next(value.value)">Save</button>
      }
    </ng-container>
  </div>
</div>
