<!--  <div class="item button-left">-->
<!--    <button mat-icon-button (click)="prevSlide()">-->
<!--      <mat-icon>chevron_left</mat-icon>-->
<!--    </button>-->
<!--  </div>-->

  <div class="weather-slide"  cdkDragLockAxis="x" cdkDrag>
    @for (day of weatherData; track day; let i = $index) {
        <mat-card>
          <mat-card-content>
            <h3>{{ day.jour }}</h3>
            <img [src]="day.icon" alt="{{ day.condition }}" class="weather-icon">
          </mat-card-content>
          <mat-card-footer>
            <p>{{ day.temperature }}°C</p>
            <p>{{ day.condition }}</p>
          </mat-card-footer>
        </mat-card>
    } @empty {
      <p>List vide ...</p>
    }
  </div>

<!--  <div class="item button-right">-->
<!--    <button mat-icon-button (click)="nextSlide()">-->
<!--      <mat-icon>chevron_right</mat-icon>-->
<!--    </button>-->
<!--  </div>-->
