@import 'variables';
@import 'mixins';

.slide-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  label {
    margin-right: 10px;
    @include font('system-ui', 14px, 1, $color-black, 500, 0.13px);
  }
}
