<div class="form-field-common textarea">
  <mat-form-field [appearance]="appearance"
                  bacErrorTooltip
                  [control]="control">
    <mat-label> {{label}} </mat-label>
    <textarea matInput
              [placeholder]="placeholder"
              [formControl]="control"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="none"
              spellcheck="false">
    </textarea>
    <mat-error *ngIf="control.hasError('required')">
      {{'ERROR_FIELD_REQUIRED' | translate}}
    </mat-error>
    <mat-error *ngIf="!control.hasError('required') && control.hasError('minlength')">
      {{'ERROR_FIELD_MIN_LENGTH' | translate : control.errors.minlength }}
    </mat-error>
    <mat-error *ngIf="!control.hasError('required') && control.hasError('maxlength')">
      {{'ERROR_FIELD_MAX_LENGTH' | translate : control.errors.maxlength }}
    </mat-error>
    <mat-hint *ngIf="control.hasError('required')">{{'ERROR_FIELD_REQUIRED' | translate}}</mat-hint>
  </mat-form-field>
</div>
