<mat-form-field class="example-form-field" [appearance]="appearance">
  <mat-label>{{ label }}</mat-label>
  <input matInput [type]="type" #value [formControl]="control" [placeholder]="placeholder">
  @if (control.value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
  }

  @if (control.hasError('required')) {
    <mat-error>{{ label }} est requis</mat-error>
  }
  @if (!control.hasError('required') && control.hasError('min')) {
    <mat-error>Le nombre minimum est 18</mat-error>
  }
  @if (!control.hasError('required') && control.hasError('max')) {
    <mat-error>Le nombre maximum est atteint</mat-error>
  }
  @if (!control.hasError('required') && control.hasError('duplicate')) {
    <mat-error>Cette valeur est dupliquée</mat-error>
  }
  @if (!control.hasError('required') && control.hasError('decimaleMax')) {
    <mat-error>{{ 'Valeur décimale maximale atteinte' }}</mat-error>
  }
  @if (!control.hasError('required') && control.hasError('entier')) {
    <mat-error>{{ 'Valeur entière requise' }}</mat-error>
  }
  @if (!control.hasError('required') && control.hasError('compareThreeElementNumber')) {
    <mat-error>{{ 'Erreur de comparaison entre trois éléments' }}</mat-error>
  }
  @if (!control.hasError('required') && control.hasError('tooLargeToTheNumbertOfDefault')) {
    <mat-error>{{ 'Valeur trop grande par rapport au nombre par défaut' }}</mat-error>
  }
  @if (!control.hasError('required') && control.hasError('smallerThanTheDefaultNumber')) {
    <mat-error>{{ 'Valeur trop petite par rapport au nombre par défaut' }}</mat-error>
  }
  @if (!control.hasError('required') && control.hasError('biggerThanTheDefaultNumber')) {
    <mat-error>{{ 'Valeur trop grande par rapport au nombre par défaut' }}</mat-error>
  }
  @if (!control.hasError('required') && control.hasError('email')) {
    <mat-error>{{ 'Format d’email invalide' }}</mat-error>
  }
  @if (!control.hasError('required') && control.hasError('whitespace')) {
    <mat-error>Le champ ne peut pas être vide ou contenir uniquement des espaces.</mat-error>
  }

</mat-form-field>
