:host {

  mat-list {
    overflow-y: scroll;
    height: 80%;
    margin: 20px;

    mat-list-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: white;
      margin-bottom: 13px;
      border-radius: 5px;
    }

    mat-card:hover {
      background-color: #0041ca;
    }

  }

}
