<lib-grid [grid]="tilesForms" [tileTypes]="TileTypeEnum.tileForms"></lib-grid>

<ng-template #formTemplate let-tile="tile">
  <form id="form" [formGroup]="formGroupSource">

    <div class="form-row">
      <lib-input-text [type]="'text'" matInput
                      [label]="'Prénom'"
                      [formControl]="formGroupSource.controls['name']"
                      [appearance]="'outline'"
                      [placeholder]="'Ex. Julie'"/>
      <lib-input-text [type]="'email'" matInput
                      [formControl]="formGroupSource.controls['email']"
                      [label]="'Email'"
                      [appearance]="'outline'"
                      [placeholder]="'Ex. allowed@example.com'"/>

      <!--      <lib-input-text [type]="'text'" matInput-->
      <!--                      [formControl]="formGroupSource.controls['surname']"-->
      <!--                      [label]="'Nom'"-->
      <!--                      [appearance]="'outline'"-->
      <!--                      [placeholder]="'Ex. Dupont'"/>-->
    </div>

    <div class="form-row">
      <lib-input-text [type]="'number'" matInput
                      [label]="'Age'"
                      [formControl]="formGroupSource.controls['age']"
                      [appearance]="'outline'"
                      [placeholder]="'Ex. Julie'"/>

      <lib-single-select matInput
                         [list$]="listCountry$"
                         [label]="'Pays'"
                         [formControl]="formGroupSource.controls['country']"
                         [appearance]="'outline'"
                         [placeholder]="'select'"/>
    </div>

    <div class="button-form">
      <button [disabled]="formGroupSource.invalid" mat-raised-button (click)="sentFirstForm()">Envoyer</button>
    </div>
  </form>
</ng-template>

<ng-template #formSecondTemplate let-tile="tile">
  <form id="formSecond" [formGroup]="formSecondGroupSource">

    <div class="form-row">
      <lib-autocomplete
        #autocompleteMarque
        [label]="'Marque'"
        [formControl]="formSecondGroupSource.controls['marques']"
        [name]="'auto'"
        [list]="list"
        [appearance]="'outline'"
        [placeholder]="'select'"/>
    </div>

    <div class="button-form">
      <button [disabled]="formSecondGroupSource.invalid" mat-raised-button (click)="sentSecondForm()">Envoyer</button>
    </div>
  </form>
</ng-template>
