:host {
  #form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #fff;
    padding: 40px;
    border-radius: 7px;
  }

  .form-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }


  .button-form {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 1300px) {
    .form-row {
      flex-direction: column;
    }
  }
}
