@use "table";
@use "loader";
@use "scrollbar";
@use "variables" as *;

:host * {
  transition: all 200ms ease-in-out;
}

body {
  font-family: Roboto Light Sans, sans-serif;

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Arial Black", sans-serif !important;
    font-weight: 500;
    color: #32325d;
  }

  mat-grid-list {
    height: 100%;
    width: 100%;
  }

  mat-grid-tile {
    box-shadow: 0.3em 0.3em 0.3em #d8dae0b1, -0.75em -0.75em 1em #ffffff;
    border-radius: 0.75em;
  }

  .container {
    display: flex;

    mat-card {
      background-color: white;
    }
  }
}







