body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #efefef;

  .container {
    display: flex;

    .item {
      background-color: #ffffff;
      border-radius: 8px;
      gap: 5px;
      margin: 20px;
      width: auto;
      padding: 10px;
      border: 5px solid #fff;
    }

  }
}
