:host * {
  transition: 0.3s;
}

:host {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 90%;
  margin: 20px;
  padding: 20px;
  gap: 10px;
  flex-grow: 1;

  mat-card {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 10px;
    color: white;
    background-color: #2d5ab4;

    > mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: left;
    }

    > mat-card-footer {
      display: flex;
      justify-content: right;
    }
  }

  mat-card:hover {
    background-color: #0041ca;
  }

  mat-icon {
    background-color: white;
    border-radius: 50%;
    font-size: 16px;
    align-content: center;
    color: #939eb1;
  }

  mat-icon:hover {
    color: #0041ca;
  }
}

