:host * {
  transition: 0.3s;
}


:host {

  .full-size-card {
    display: flex;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    font-size: 12px;

    > mat-card-header mat-card-title {
      padding-bottom: 30px;
    }

    > mat-card-content {
      overflow-y: scroll;
      height: 100%;
    }

    mat-card {
      background-color: #2d5ab4;
      color: white;
      margin-bottom: 14px;

      .icon-right {
        display: flex;
        justify-content: flex-end;

        mat-icon {
          font-size: 20px;
          color: #c4c4c4;
        }

        mat-icon:hover {
          font-size: 22px;
          color: white;
        }
      }
    }

    mat-card:hover {
      background-color: #0d4ccd;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
