:host {
  .container {
    flex-direction: column;
    gap: 10px;
    margin: 40px;

    .item {
      width: auto;
      padding: 10px;
    }

    .slide {
    }

    .charts {
    }

    .form {
    }

    .message {
    }

    .css {
    }

    .footer {
    }
  }


}

