<div>
  <input [(ngModel)]="firstName" placeholder="First Name">
  <input [(ngModel)]="lastName" placeholder="Last Name">
  @for (adresse of addresses(); track adresse; let i = $index) {
<!--    <div>-->
<!--      <input [value]="adresse.street" (input)="updateAddress(i, 'street', $event.target.value)" placeholder="Street">-->
<!--      <input [value]="adresse.city" (input)="updateAddress(i, 'city', $event.target.value)" placeholder="City">-->
<!--      <input [value]="adresse.zip" (input)="updateAddress(i, 'zip', $event.target.value)" placeholder="ZIP Code">-->
<!--    </div>-->
  }
  <button (click)="addAddress()">Add Address</button>
  <p>Full Name: {{ fullName() }}</p>
  @if (!isFormValid()) {
    <p>All fields must be filled!</p>
  }
</div>

